@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #50494e;
	font-family: 'Open Sans', sans-serif;
}

.nav{    
    display: flex;
    flex-direction: column;
}

.nav__link{
    width: 100px;
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #f6f8fa;
}

.list{
    width: 100%; 
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}





.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/* Estilos Materialize */

.carousel{
    min-height: 500px;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background: #ccc; */
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    border-radius: 15px;
}






a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.contenedor__cards{
    margin: 70px 0;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.card__thumbnail{
    width: 650px;
    height: 200px;
    /* background: #000; */
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.card__img{
    width: 100%;
}

.card__titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.card__enlace{
    color: #000;
}

.card__extracto{
    line-height: 28px;
    color: #6d6d6d;
    margin-bottom: 20px;
}

.boton{
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    background: #000;
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #403cc2;
    transition: .3s ease all;
}

.boton__texto{
    font-weight: 600;
}

.boton:hover{
    background: #1b1881;
    text-decoration: none;
}

.boton--absolute{
    position: absolute;
    right: 20px;
    bottom: -25px;
}

.boton--verde{
    background: #dd90bf;
}

.boton--verde:hover{
    background: #437837;
}

.frase{
    text-align: center;
    margin: 70px 0;
}

.frase__texto{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: italic;
}




h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: rgb(245, 236, 236);
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #faf0f0;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
        0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}







footer {
    background-color: rgb(248, 245, 245);
    padding: 3rem;
    color: rgb(94, 81, 81);
}

footer section a {
    float: right;
    color: rgb(92, 80, 80);;
}
footer p {
    margin: 0;
}
footer a {
    transition: color 0.3s ease;
    color: rgb(168, 154, 154);
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}